body {
    overflow: hidden;
}

#encabezado {
    background-color: black;
    margin: -1.4%;
    height: auto;
}

h1 {
    color: white;
    margin-left: 1%;
    padding: 14px;
    font-size: 15px;
}

.menu-opciones {
    float: right;
    margin-right: 2%;
}

.menu-despegable-traduccion {
    float: right;
    margin-right: 2%;
}

.menu-opciones .button {
    background-color: white;
    padding: 10px 12px;
    border: 2px black solid;
}

.menu-despegable-traduccion .button {
    background-color: white;
    padding: 10px 12px;
    border: 2px black solid;
}

.carrousel-imagenes {
    margin-top: 10%;
}
